<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
	   xmlns:xsi ="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation = "http://www.springframework.org/schema/beans 
	   http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- personnel service -->
	<bean id="applyService" class="service.hr.ApplyService"/>
	<bean id="empListService" class="service.hr.EmpListService"/>
	<bean id="empDetailService" class="service.hr.EmpDetailService"/>
	<bean id="empModifyService" class="service.hr.EmpModifyService"/>
	
	<!-- promote service -->

	<!-- teacher service -->
	
</beans> 