<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="DiningMapper">
<cache />
	<resultMap type="sdto" id="seatBaseMap">
		<id column="rst_no" jdbcType="BIGINT" property="rstNo" />
		<id column="rst_tbl" jdbcType="BIGINT" property="rstTbl" />
		<result column="rst_seat" jdbcType="BIGINT" property="rstSeat" />
		<result column="rst_name" jdbcType="VARCHAR" property="rstName" />
	</resultMap>
	
	<!-- 좌석관리 좌석리스트 + 레스토랑번호,이름 뽑기 -->
	<select id="seatPlace" resultMap="seatBaseMap" parameterType="long">
		SELECT r.RST_NO, r.RST_NAME, s.RST_TBL, s.RST_SEAT
		FROM DELUNA.RESTAURANT r, DELUNA.SEATPLACE s
		WHERE r.RST_NO = s.RST_NO AND s.RST_NO=#{rstNo}
		GROUP BY r.RST_NO, r.RST_NAME, s.RST_SEAT, s.RST_TBL
	</select>
	
	<insert id="tblInsert" parameterType="sdto">
		INSERT INTO SEATPLACE(RST_NO, RST_TBL, RST_SEAT)
		VALUES(#{rstNo}, #{rstTbl}, #{rstSeat})
	</insert>
	
	<insert id="menuInsert" parameterType="menu">
		INSERT INTO MENU(MENU_NO, RST_NO, MENU_NAME, MENU_PRICE, MENU_CNT, MENU_IMG)
		VALUES(#{menuNo}, #{rstNo}, #{menuName}, #{menuPrice}, #{menuCnt}, #{menuImg})
	</insert>
	
	<resultMap type="menu" id="menuBaseMap">
		<id column="MENU_NO" jdbcType="BIGINT" property="menuNo" />
		<id column="RST_NO" jdbcType="BIGINT" property="rstNo" />
		<result column="MENU_NAME" jdbcType="VARCHAR" property="menuName" />
		<result column="MENU_PRICE" jdbcType="BIGINT" property="menuPrice" />
		<result column="MENU_CNT" jdbcType="VARCHAR" property="menuCnt" />
		<result column="MENU_IMG" jdbcType="VARCHAR" property="menuImg" />
	</resultMap>
	
	<select id="menuSelect" resultMap="menuBaseMap" parameterType="long">
		SELECT *
		FROM MENU
		WHERE RST_NO=#{rstNo} ORDER BY MENU_NO ASC
	</select>
	
	<select id="menuOneSelect" resultMap="menuBaseMap" parameterType="long">
		SELECT *
		FROM MENU
		WHERE RST_NO=1 AND MENU_NO=#{menuNo}
	</select>
	
	<!-- 1번 레스토랑 메뉴 수정 -->
	<update id="menuUpdate" parameterType="menu">
		UPDATE MENU
		SET MENU_NAME=#{menuName}, MENU_PRICE=#{menuPrice}, MENU_CNT=#{menuCnt}, MENU_IMG=#{menuImg}
		WHERE RST_NO=1 AND MENU_NO=#{menuNo}
	</update>
	
	<delete id="menuDelete">
		DELETE
		FROM MENU
		WHERE MENU_NO=#{menuNo} AND RST_NO=1
	</delete>
	
	<delete id="tblDelete">
		DELETE
		FROM SEATPLACE
		WHERE RST_NO=1 AND RST_TBL=#{rstTbl}
	</delete>
	
	<!-- 레스토랑 디테일 select -->
	<resultMap id="rstBaseMap" type="rst">
		<id property="rstNo" jdbcType="BIGINT" column="RST_NO"/>
		<result property="rstName" jdbcType="VARCHAR" column="RST_NAME"/>
		<result property="rstAddr" jdbcType="VARCHAR" column="RST_ADDR"/>
		<result property="rstTel" jdbcType="VARCHAR" column="RST_TEL"/>
		<result property="rstEmail" jdbcType="VARCHAR" column="RST_EMAIL"/>
		<result property="rstImg" jdbcType="VARCHAR" column="RST_IMG"/>
		<result property="tblCount" jdbcType="BIGINT" column="TBL_COUNT"/>
	</resultMap>

	<select id="rstSelect" parameterType="long" resultMap="rstBaseMap">
		SELECT r.RST_NO, r.RST_NAME, r.RST_ADDR, r.RST_TEL, count(s.RST_TBL) AS tbl_count
		FROM DELUNA.RESTAURANT r, DELUNA.SEATPLACE s
		WHERE r.RST_NO = s.RST_NO AND r.RST_NO=#{rstNo}
		GROUP BY r.RST_NO, r.RST_NAME, r.RST_ADDR, r.RST_TEL
	</select>
	
</mapper>



















