<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="DiningMapper">
<cache />
	<resultMap type="sdto" id="seatBaseMap">
		<id column="rst_no" jdbcType="BIGINT" property="rstNo" />
		<id column="rst_tbl" jdbcType="BIGINT" property="rstTbl" />
		<result column="rst_seat" jdbcType="BIGINT" property="rstSeat" />
	</resultMap>
	
	<!-- 궁궐 좌석리스트 -->
	<select id="seatPlace" resultMap="seatBaseMap" parameterType="long">
		SELECT * 
		FROM SEATPLACE
		WHERE RST_NO=1 ORDER BY RST_TBL ASC
	</select>
	
	<insert id="tblInsert" parameterType="sdto">
		INSERT INTO SEATPLACE(RST_NO, RST_TBL, RST_SEAT)
		VALUES(#{rstNo}, #{rstTbl}, #{rstSeat})
	</insert>
	
	<insert id="menuInsert" parameterType="menu">
		INSERT INTO MENU(MENU_NO, RST_NO, MENU_NAME, MENU_PRICE, MENU_CNT, MENU_IMG)
		VALUES(#{menuNo}, #{rstNo}, #{menuName}, #{menuPrice}, #{menuCnt}, #{menuImg})
	</insert>
	
	<resultMap type="menu" id="menuBaseMap">
		<id column="MENU_NO" jdbcType="BIGINT" property="menuNo" />
		<id column="RST_NO" jdbcType="BIGINT" property="rstNo" />
		<result column="MENU_NAME" jdbcType="VARCHAR" property="menuName" />
		<result column="MENU_PRICE" jdbcType="BIGINT" property="menuPrice" />
		<result column="MENU_CNT" jdbcType="VARCHAR" property="menuCnt" />
		<result column="MENU_IMG" jdbcType="VARCHAR" property="menuImg" />
	</resultMap>
	
	<select id="menuSelect" resultMap="menuBaseMap" parameterType="long">
		SELECT *
		FROM MENU
		WHERE RST_NO=1 ORDER BY MENU_NO ASC
	</select>
	
	<select id="menuOneSelect" resultMap="menuBaseMap" parameterType="long">
		SELECT *
		FROM MENU
		WHERE RST_NO=1 AND MENU_NO=#{menuNo}
	</select>
	
	<!-- 1번 레스토랑 메뉴 수정 -->
	<update id="menuUpdate" parameterType="menu">
		UPDATE MENU
		SET MENU_NAME=#{menuName}, MENU_PRICE=#{menuPrice}, MENU_CNT=#{menuCnt}, MENU_IMG=#{menuImg}
		WHERE RST_NO=1 AND MENU_NO=#{menuNo}
	</update>
	
	<delete id="menuDelete">
		DELETE
		FROM MENU
		WHERE MENU_NO=#{menuNo} AND RST_NO=1
	</delete>
	
	
	
</mapper>









