<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="roomMapper">
<cache />

	<sql id="basecolumn">
		rm_no,rm_grade,rm_price,rm_pic,rm_loc,rm_bed,rm_view
	</sql>
	
	<sql id = "basecolumn2">
		rmbk_no,mem_id,rm_no,rm_grade,pay_no,rmbk_date,rmbk_bed,rmbk_opt,rmbk_dnd,rmbk_peo,rmbk_price,rmbk_chkin,rmbk_chkout,rmbk_realin,rmbk_realout,mem_name,mem_ph,rmbk_uncomfort,rmbk_nofeader
	</sql>
	<resultMap type="roomdto" id="roommap">
		<id column="rm_no" jdbcType="VARCHAR" property="roomNo"/>
		<result column="rm_grade" jdbcType="VARCHAR" property="roomGrade"/>
		<result column="rm_price" jdbcType="VARCHAR" property="roomPrice"/>
		<result column="rm_pic" jdbcType="VARCHAR" property="roomPic"/>
		<result column="rm_loc" jdbcType="VARCHAR" property="roomLoc"/>
		<result column="rm_bed" jdbcType="VARCHAR" property="roomBed"/>
		<result column="rm_view" jdbcType="VARCHAR" property="roomView"/>
	</resultMap>
	<insert id="insertRoom" parameterType="roomdto" >
		insert into room (<include refid="basecolumn"/>) values(#{roomNo},#{roomGrade},#{roomPrice},#{roomPic},#{roomLoc},#{roomBed},#{roomView})
	</insert>
	<insert id="insertReservation" parameterType="reservationdto">
		insert into roombook(<include refid="basecolumn2"/>) values(RMBK_SEQ.NEXTVAL,'qkrwogns',#{roomNo},#{roomGrade},#{payNo},sysdate,#{roomBed},#{rmbkOption},#{dndMode},#{rmbkPeople},#{rmbkPrice},#{rmbkChkIn},#{rmbkChkOut},default,default,#{userName},#{userPh},#{uncomFort},#{noFeader})
	</insert>
	
	<insert id="insertPay" parameterType="paydto">
		insert into payment(pay_no,pay_price,pay_mtd,pay_date,pay_who)values(#{payNo},#{payPrice},#{payMtd},sysdate,#{payWho})
	</insert>
	
	
	<select id="reservation" parameterType="roomdto" resultMap="roommap">
		select <include refid="basecolumn"/> from(SELECT *FROM room ORDER BY rm_no DESC)
			<where>
			<if test="value != null">
			 rm_grade = #{roomGrade} and rownum = 1
			</if>
		</where>
	</select>

	<select id="selectRoom" parameterType="reservationdto" resultMap="roommap">
		select <include refid="basecolumn"/> from room where	
			 rm_grade = #{roomGrade} and rm_view = #{roomView} and rm_bed = #{roomBed}
	</select>
	
</mapper>